In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/Tesla_news.csv')
df.head()

,source_name,author,date,title,description,content
0,The Jerusalem Post,By REUTERS,2023-09-12,Putin hails Elon Musk as an 'outstanding perso...,The Russian leader said Moscow planned to pers...,Russian President Vladimir Putin on Tuesday ha...
1,Business Insider,ssheth@businessinsider.com (Sonam Sheth),2023-09-12,Elon Musk learned hypnosis as a child and mana...,Elon Musk learned magic tricks and hypnosis as...,"When Elon Musk was a kid, he learned hypnosis ..."
2,Fortune,Paige Hagy,2023-09-12,Elon Musk lives life like he’s playing a video...,"""Elon Musk,"" a biography that recounts the chi...",Elon Musk had just finished playing a video ga...
3,CNN,Paul Glader,2023-09-12,Four takeaways from Walter Isaacson's biograph...,"""You'll never be successful,"" Errol Musk in 19...","Youll never be successful, Errol Musk in 1989 ..."
4,Business Insider,"Grace Kay,Grace Dean",2023-09-12,Elon Musk 'associates love with being mean or ...,"""When we hang out, I make sure I'm with the ri...","Grimes told Walter Isaacson that Elon Musk ""as..."

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   source_name  423 non-null    object
 1   author       419 non-null    object
 2   date         423 non-null    object
 3   title        423 non-null    object
 4   description  423 non-null    object
 5   content      423 non-null    object
dtypes: object(6)
memory usage: 20.0+ KB

In [29]:
# drop duplicated ones
df = df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 347 entries, 0 to 422
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   source_name  347 non-null    object
 1   author       344 non-null    object
 2   date         347 non-null    object
 3   title        347 non-null    object
 4   description  347 non-null    object
 5   content      347 non-null    object
dtypes: object(6)
memory usage: 19.0+ KB

In [12]:
# randomly extract 60% of data for mannual labeling
sample_size = int(df.shape[0] * 0.6)
df_select = df.sample(n = sample_size, random_state = 1)
df_select.head()

,source_name,author,date,title,description,content
405,Breitbart News,"Paul Bois, Paul Bois",2023-10-09,Elon Musk Deletes Several Tweets After Promoti...,Elon Musk deleted several posts on his platfor...,Billionaire and X owner Elon Musk deleted seve...
292,NBC News,Reuters,2023-09-29,Elon Musk wades into U.S. immigration debate a...,Billionaire Elon Musk waded into the U.S. immi...,"EAGLE PASS, Texas Billionaire Elon Musk waded ..."
17,Fortune,Paolo Confino,2023-09-12,One of Elon Musk's favorite video games taught...,Walter Isaacson’s new tome on the world’s rich...,Elon Musks love of video games is well documen...
305,Business Insider,Charles R. Davis,2023-09-29,Elon Musk attacked German support for migrants...,Elon Musk appears unhappy that the German gove...,Elon Musk.Chesnot via Getty Images\r\n<ul><li>...
4,Business Insider,"Grace Kay,Grace Dean",2023-09-12,Elon Musk 'associates love with being mean or ...,"""When we hang out, I make sure I'm with the ri...","Grimes told Walter Isaacson that Elon Musk ""as..."

In [13]:
df_select.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253 entries, 405 to 206
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   source_name  253 non-null    object
 1   author       250 non-null    object
 2   date         253 non-null    object
 3   title        253 non-null    object
 4   description  253 non-null    object
 5   content      253 non-null    object
dtypes: object(6)
memory usage: 13.8+ KB

In [15]:
df_unselect = df.drop(df_select.index)
df_unselect.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170 entries, 1 to 416
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   source_name  170 non-null    object
 1   author       169 non-null    object
 2   date         170 non-null    object
 3   title        170 non-null    object
 4   description  170 non-null    object
 5   content      170 non-null    object
dtypes: object(6)
memory usage: 9.3+ KB

In [16]:
df_unselect.head()

,source_name,author,date,title,description,content
1,Business Insider,ssheth@businessinsider.com (Sonam Sheth),2023-09-12,Elon Musk learned hypnosis as a child and mana...,Elon Musk learned magic tricks and hypnosis as...,"When Elon Musk was a kid, he learned hypnosis ..."
2,Fortune,Paige Hagy,2023-09-12,Elon Musk lives life like he’s playing a video...,"""Elon Musk,"" a biography that recounts the chi...",Elon Musk had just finished playing a video ga...
3,CNN,Paul Glader,2023-09-12,Four takeaways from Walter Isaacson's biograph...,"""You'll never be successful,"" Errol Musk in 19...","Youll never be successful, Errol Musk in 1989 ..."
7,Business Insider,Grace Dean,2023-09-12,After Elon Musk spoke to Neuralink director Sh...,Zilis said that choosing to have Musk as a spe...,nullChesnot/Getty Images\r\n<ul><li>Elon Musk ...
10,Financial Post,Bloomberg News,2023-09-12,Tesla gets $80-billion boost from analyst call...,Some investors find Tesla Inc.'s $500-billion ...,Some investors find the $500-billion projectio...

In [17]:
df_unselect.reset_index(drop = True, inplace = True)
df_unselect.head()

,source_name,author,date,title,description,content
0,Business Insider,ssheth@businessinsider.com (Sonam Sheth),2023-09-12,Elon Musk learned hypnosis as a child and mana...,Elon Musk learned magic tricks and hypnosis as...,"When Elon Musk was a kid, he learned hypnosis ..."
1,Fortune,Paige Hagy,2023-09-12,Elon Musk lives life like he’s playing a video...,"""Elon Musk,"" a biography that recounts the chi...",Elon Musk had just finished playing a video ga...
2,CNN,Paul Glader,2023-09-12,Four takeaways from Walter Isaacson's biograph...,"""You'll never be successful,"" Errol Musk in 19...","Youll never be successful, Errol Musk in 1989 ..."
3,Business Insider,Grace Dean,2023-09-12,After Elon Musk spoke to Neuralink director Sh...,Zilis said that choosing to have Musk as a spe...,nullChesnot/Getty Images\r\n<ul><li>Elon Musk ...
4,Financial Post,Bloomberg News,2023-09-12,Tesla gets $80-billion boost from analyst call...,Some investors find Tesla Inc.'s $500-billion ...,Some investors find the $500-billion projectio...

In [18]:
df_unselect.tail()

,source_name,author,date,title,description,content
165,Breitbart News,"Alana Mastrangelo, Alana Mastrangelo",2023-10-08,Elon Musk Endorses Pro-Palestinian Terror Acco...,Tesla CEO and Elon Musk has endorsed a pro-Pal...,Tesla CEO and Elon Musk has endorsed a pro-Pal...
166,Business Insider,Kylie Kirschner,2023-10-09,Tesla owners are using the new button on the s...,Tesla owners have wasted no time in programmin...,The new action button can be used as a Tesla k...
167,Fortune,"Tom Randall, Bloomberg",2023-10-09,Elon Musk's latest Tesla price cuts 'to unload...,Teslas now cost less than average U.S. gasolin...,Teslas top-selling electric vehicles now compe...
168,Business Insider,Kylie Kirschner,2023-10-09,Tesla owners are using the new button on the s...,Tesla owners have wasted no time in programmin...,The new action button can be used as a Tesla k...
169,The Irish Times,Proinsias O'Mahony,2023-10-10,Magnificent seven stocks are keeping indices a...,"While the S&P 500 is still up 11% this year, i...",The so-called magnificent seven tech giants Ap...

In [25]:
df_select.sort_values(by = ['date'], inplace = True)

In [26]:
df_select.reset_index(drop = True, inplace = True)
df_select.head()

,source_name,author,date,title,description,content
0,USA Today,"Jessica Guynn, USA TODAY",2023-09-12,Inside 'Elon Musk': Everything you need to kno...,From relationships with Amber Heard and Grimes...,"Walter Isaacsons new biography, Elon Musk, tha..."
1,CNN,"Catherine Thorbecke, CNN",2023-09-12,Tesla shares jump after Morgan Stanley predict...,Tesla’s Dojo supercomputer could fuel a $500 b...,Teslas Dojo supercomputer could fuel a $500 bi...
2,Fortune,Christiaan Hetzner,2023-09-12,Elon Musk’s supercomputer Dojo added $70 billi...,Elon Musk's Tesla share price has jumped the e...,Teslas gonzo market cap is so enormous that it...
3,The Jerusalem Post,By REUTERS,2023-09-12,Putin hails Elon Musk as an 'outstanding perso...,The Russian leader said Moscow planned to pers...,Russian President Vladimir Putin on Tuesday ha...
4,Business Insider,Kwan Wei Kevin Tan,2023-09-12,Elon Musk's biographer says Musk has 'multiple...,"""This is a person with multiple moods and mode...",Elon Musk.Chesnot via Getty Images\r\n<ul><li>...

In [27]:
df_select.tail()

,source_name,author,date,title,description,content
248,Business Insider,Alexa St. John,2023-10-11,Rivian CEO says he wouldn't buy the Cybertruck...,Rivian CEO RJ Scaringe spoke with GQ magazine ...,Carlos Delgado/Associated Press\r\n<ul><li>Riv...
249,Fortune,Prarthana Prakash,2023-10-11,"Bernard Arnault, the world's second richest ma...",LVMH boss Bernard Arnault's wealth topped $200...,Big gains in luxury spending helped LVMH boss ...
250,Reuters,Giulio Piovaccari,2023-10-11,"Ford, Hyundai turn to Italian casting machine ...","Idra, an Italian aluminium casting machine mak...","TRAVAGLIATO, Italy, Oct 11 (Reuters) - Idra, a..."
251,Business Insider,psyme@insider.com (Pete Syme),2023-10-11,Tesla rejected a major union's claims of healt...,Tesla workers at the Berlin Gigafactory have s...,Tesla has denied accusations from a German uni...
252,Business Insider,psyme@insider.com (Pete Syme),2023-10-11,Tesla rejected a major union's claims of healt...,Tesla workers at the Berlin Gigafactory have s...,Tesla has denied accusations from a German uni...

In [28]:
# saveout the data
df_select.to_csv('../data/Tesla_news_with_labels.csv', index = False)
df_unselect.to_csv('../data/Tesla_news_without_labels.csv', index = False)