In [1]:
import configparser
import requests
import pandas as pd

In [2]:
# read market stack api key
config = configparser.ConfigParser()
config.read('config.ini')
api_key = config['marketstack']['api_key']

In [4]:
# how many days of data?
daylimit = 30

In [5]:
# make a request to the marketstack API to extract stock prices of Tesla
url = 'http://api.marketstack.com/v1/tickers/tsla/eod'

params = {
    'access_key' : api_key,
    'limit': daylimit,
}

response = requests.get(url, params)

 # check the request status
if response.status_code != 200:
    raise Exception("Request returned an error: {} {}".format(response.status_code, response.text))

In [6]:
# change response to json format
response_json = response.json()
response_json.keys()

dict_keys(['pagination', 'data'])

In [8]:
# check API response related to paginaion 
response_json['pagination']

{'limit': 30, 'offset': 0, 'count': 30, 'total': 251}

In [9]:
# check a sample data
response_json['data']['eod'][0]

{'open': 257.78,
 'high': 268.94,
 'low': 257.65,
 'close': 263.62,
 'volume': 122656030.0,
 'adj_high': 268.94,
 'adj_low': 257.65,
 'adj_close': 263.62,
 'adj_open': 257.75,
 'adj_volume': 122656030.0,
 'split_factor': 1.0,
 'dividend': 0.0,
 'symbol': 'TSLA',
 'exchange': 'XNAS',
 'date': '2023-10-10T00:00:00+0000'}

In [10]:
# define a function to convert api outout to pandas dataframe
def json_eods_torows(json_eods): 
    # create a list for all entries
    df_rows = [] 
    for item in json_eods:
        row_dict = {}
        row_dict['open'] = item['open']
        row_dict['high'] = item['high']
        row_dict['low'] = item['low']
        row_dict['close'] = item['close']
        row_dict['volume'] = item["volume"]
        row_dict['split_factor'] = item['split_factor']
        row_dict['dividend'] = item['dividend']
        row_dict['symbol'] = item['symbol']
        row_dict['date'] = item['date']
        df_rows.append(row_dict)
    return df_rows

In [11]:
df = pd.DataFrame(response_json['data']['eod'])
df.head()

,open,high,low,close,volume,adj_high,adj_low,adj_close,adj_open,adj_volume,split_factor,dividend,symbol,exchange,date
0,257.78,268.94,257.65,263.62,122656030.0,268.94,257.65,263.62,257.75,122656030.0,1.0,0.0,TSLA,XNAS,2023-10-10T00:00:00+0000
1,255.21,261.36,252.05,259.67,101377947.0,261.36,252.05,259.67,255.31,101377947.0,1.0,0.0,TSLA,XNAS,2023-10-09T00:00:00+0000
2,253.98,261.65,250.65,260.53,118121812.0,261.65,250.65,260.53,253.98,118121812.0,1.0,0.0,TSLA,XNAS,2023-10-06T00:00:00+0000
3,260.00,263.60,256.25,260.05,119159214.0,263.60,256.25,260.05,260.00,119159214.0,1.0,0.0,TSLA,XNAS,2023-10-05T00:00:00+0000
4,248.14,261.86,247.60,261.16,129721567.0,261.86,247.60,261.16,248.14,129721567.0,1.0,0.0,TSLA,XNAS,2023-10-04T00:00:00+0000

In [12]:
# check if there is any missing values and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   open          30 non-null     float64
 1   high          30 non-null     float64
 2   low           30 non-null     float64
 3   close         30 non-null     float64
 4   volume        30 non-null     float64
 5   adj_high      30 non-null     float64
 6   adj_low       30 non-null     float64
 7   adj_close     30 non-null     float64
 8   adj_open      30 non-null     float64
 9   adj_volume    30 non-null     float64
 10  split_factor  30 non-null     float64
 11  dividend      30 non-null     float64
 12  symbol        30 non-null     object
 13  exchange      30 non-null     object
 14  date          30 non-null     object
dtypes: float64(12), object(3)
memory usage: 3.6+ KB

In [13]:
# create a date column
df['datetime'] = pd.to_datetime(df['date'])
df['date'] = df['datetime'].dt.strftime('%Y-%m-%d')
df['date'] = pd.to_datetime(df['date'])
df.head()

,open,high,low,close,volume,adj_high,adj_low,adj_close,adj_open,adj_volume,split_factor,dividend,symbol,exchange,date,datetime
0,257.78,268.94,257.65,263.62,122656030.0,268.94,257.65,263.62,257.75,122656030.0,1.0,0.0,TSLA,XNAS,2023-10-10,2023-10-10 00:00:00+00:00
1,255.21,261.36,252.05,259.67,101377947.0,261.36,252.05,259.67,255.31,101377947.0,1.0,0.0,TSLA,XNAS,2023-10-09,2023-10-09 00:00:00+00:00
2,253.98,261.65,250.65,260.53,118121812.0,261.65,250.65,260.53,253.98,118121812.0,1.0,0.0,TSLA,XNAS,2023-10-06,2023-10-06 00:00:00+00:00
3,260.00,263.60,256.25,260.05,119159214.0,263.60,256.25,260.05,260.00,119159214.0,1.0,0.0,TSLA,XNAS,2023-10-05,2023-10-05 00:00:00+00:00
4,248.14,261.86,247.60,261.16,129721567.0,261.86,247.60,261.16,248.14,129721567.0,1.0,0.0,TSLA,XNAS,2023-10-04,2023-10-04 00:00:00+00:00

In [14]:
# check data type again
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   open          30 non-null     float64
 1   high          30 non-null     float64
 2   low           30 non-null     float64
 3   close         30 non-null     float64
 4   volume        30 non-null     float64
 5   adj_high      30 non-null     float64
 6   adj_low       30 non-null     float64
 7   adj_close     30 non-null     float64
 8   adj_open      30 non-null     float64
 9   adj_volume    30 non-null     float64
 10  split_factor  30 non-null     float64
 11  dividend      30 non-null     float64
 12  symbol        30 non-null     object
 13  exchange      30 non-null     object
 14  date          30 non-null     datetime64[ns]
 15  datetime      30 non-null     datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(12), object(2)
memory usage: 3.9+ KB

In [15]:
# sort by date ascendingly
df.sort_values(by = ['date'])

,open,high,low,close,volume,adj_high,adj_low,adj_close,adj_open,adj_volume,split_factor,dividend,symbol,exchange,date,datetime
29,238.580,257.4800,237.7700,257.18,134047603.0,257.4800,237.7700,257.18,238.580,134047603.0,1.0,0.0,TSLA,XNAS,2023-08-29,2023-08-29 00:00:00+00:00
28,254.200,260.5100,250.5900,256.90,121988437.0,260.5100,250.5900,256.90,254.200,121988437.0,1.0,0.0,TSLA,XNAS,2023-08-30,2023-08-30 00:00:00+00:00
27,255.980,261.1800,255.0500,258.08,108861698.0,261.1800,255.0500,258.08,255.980,108861698.0,1.0,0.0,TSLA,XNAS,2023-08-31,2023-08-31 00:00:00+00:00
26,257.260,259.0794,242.0100,245.01,132541640.0,259.0794,242.0100,245.01,257.260,132541640.0,1.0,0.0,TSLA,XNAS,2023-09-01,2023-09-01 00:00:00+00:00
25,245.000,258.0000,244.8600,256.49,129469565.0,258.0000,244.8600,256.49,245.000,129469565.0,1.0,0.0,TSLA,XNAS,2023-09-05,2023-09-05 00:00:00+00:00
24,255.135,255.3900,245.0600,251.92,116959759.0,255.3900,245.0600,251.92,255.135,116959759.0,1.0,0.0,TSLA,XNAS,2023-09-06,2023-09-06 00:00:00+00:00
23,245.070,252.8100,243.2650,251.49,115312886.0,252.8100,243.2650,251.49,245.070,115312886.0,1.0,0.0,TSLA,XNAS,2023-09-07,2023-09-07 00:00:00+00:00
22,251.220,256.5200,246.6700,248.50,118559635.0,256.5200,246.6700,248.50,251.220,118559635.0,1.0,0.0,TSLA,XNAS,2023-09-08,2023-09-08 00:00:00+00:00
21,264.270,274.8500,260.6100,273.58,174667852.0,274.8500,260.6100,273.58,264.270,174667852.0,1.0,0.0,TSLA,XNAS,2023-09-11,2023-09-11 00:00:00+00:00
20,270.760,278.3900,266.6000,267.48,135999866.0,278.3900,266.6000,267.48,270.760,135999866.0,1.0,0.0,TSLA,XNAS,2023-09-12,2023-09-12 00:00:00+00:00
19,270.070,274.9800,268.1000,271.30,111673737.0,274.9800,268.1000,271.30,270.070,111673737.0,1.0,0.0,TSLA,XNAS,2023-09-13,2023-09-13 00:00:00+00:00
18,271.320,276.7094,270.4200,276.04,107709842.0,276.7094,270.4200,276.04,271.320,107709842.0,1.0,0.0,TSLA,XNAS,2023-09-14,2023-09-14 00:00:00+00:00
17,277.550,278.9800,271.0000,274.39,133692313.0,278.9800,271.0000,274.39,277.550,133692313.0,1.0,0.0,TSLA,XNAS,2023-09-15,2023-09-15 00:00:00+00:00
16,271.160,271.4400,263.7601,265.28,101543305.0,271.4400,263.7601,265.28,271.160,101543305.0,1.0,0.0,TSLA,XNAS,2023-09-18,2023-09-18 00:00:00+00:00
15,264.350,267.8500,261.2000,266.50,103704040.0,267.8500,261.2000,266.50,264.350,103704040.0,1.0,0.0,TSLA,XNAS,2023-09-19,2023-09-19 00:00:00+00:00
14,267.040,273.9300,262.4606,262.59,122514602.0,273.9300,262.4606,262.59,267.040,122514643.0,1.0,0.0,TSLA,XNAS,2023-09-20,2023-09-20 00:00:00+00:00
13,257.850,260.8600,254.2100,255.70,119951516.0,260.8600,254.2100,255.70,257.850,119951516.0,1.0,0.0,TSLA,XNAS,2023-09-21,2023-09-21 00:00:00+00:00
12,257.400,257.7888,244.4800,244.88,127524083.0,257.7888,244.4800,244.88,257.400,127524083.0,1.0,0.0,TSLA,XNAS,2023-09-22,2023-09-22 00:00:00+00:00
11,243.380,247.1000,238.3100,246.99,104636557.0,247.1000,238.3100,246.99,243.380,104636557.0,1.0,0.0,TSLA,XNAS,2023-09-25,2023-09-25 00:00:00+00:00
10,242.980,249.5500,241.6601,244.12,101993631.0,249.5500,241.6601,244.12,242.980,101993631.0,1.0,0.0,TSLA,XNAS,2023-09-26,2023-09-26 00:00:00+00:00
9,244.262,245.3300,234.5800,240.50,136597184.0,245.3300,234.5800,240.50,244.262,136597184.0,1.0,0.0,TSLA,XNAS,2023-09-27,2023-09-27 00:00:00+00:00
8,240.020,247.5500,238.6500,246.38,117058870.0,247.5500,238.6500,246.38,240.020,117058870.0,1.0,0.0,TSLA,XNAS,2023-09-28,2023-09-28 00:00:00+00:00
7,250.000,254.7700,246.3500,250.22,128522729.0,254.7700,246.3500,250.22,250.000,128522729.0,1.0,0.0,TSLA,XNAS,2023-09-29,2023-09-29 00:00:00+00:00
6,244.810,254.2799,242.6200,251.60,123810402.0,254.2799,242.6200,251.60,244.810,123810402.0,1.0,0.0,TSLA,XNAS,2023-10-02,2023-10-02 00:00:00+00:00
5,248.610,250.0200,244.4500,246.53,101985305.0,250.0200,244.4500,246.53,248.610,101985305.0,1.0,0.0,TSLA,XNAS,2023-10-03,2023-10-03 00:00:00+00:00
4,248.140,261.8600,247.6000,261.16,129721567.0,261.8600,247.6000,261.16,248.140,129721567.0,1.0,0.0,TSLA,XNAS,2023-10-04,2023-10-04 00:00:00+00:00
3,260.000,263.6000,256.2500,260.05,119159214.0,263.6000,256.2500,260.05,260.000,119159214.0,1.0,0.0,TSLA,XNAS,2023-10-05,2023-10-05 00:00:00+00:00
2,253.980,261.6500,250.6500,260.53,118121812.0,261.6500,250.6500,260.53,253.980,118121812.0,1.0,0.0,TSLA,XNAS,2023-10-06,2023-10-06 00:00:00+00:00
1,255.210,261.3600,252.0500,259.67,101377947.0,261.3600,252.0500,259.67,255.310,101377947.0,1.0,0.0,TSLA,XNAS,2023-10-09,2023-10-09 00:00:00+00:00
0,257.780,268.9400,257.6500,263.62,122656030.0,268.9400,257.6500,263.62,257.750,122656030.0,1.0,0.0,TSLA,XNAS,2023-10-10,2023-10-10 00:00:00+00:00

In [21]:
# save out the stock price data
df.to_csv('../data/Tesla_stock.csv', index = False)